/* Constants */

:root {
  --clr-white: #fff;
  --clr-light-creme: #fcfbfa;
  --clr-creme: #f5f3f0;
  --clr-orange: #f49d1a;
  --clr-red: #850000;
  --clr-gold: #956428;
  --clr-grey: #626262;
  --clr-black: #4c4c4c;

  --font-family: "Cormorant Garamond", serif;
}
