/* Empty List */

.empty {
  font-size: 50px;
  font-weight: 600;
  color: var(--clr-gold);
  margin-bottom: 200px;
}

.empty-planner {
  border-bottom: 1px solid var(--clr-gold);
  margin-left: 500px;
  margin-right: 500px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1660px) {
  .empty-planner {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media screen and (max-width: 550px) {
  .empty-planner {
    margin-left: 10px;
    margin-right: 10px;
  }
}
