/* Header & Footer */

.gold-underline {
  border-bottom: 1px solid var(--clr-gold);
}

li.logo a {
  color: var(--clr-gold);
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -0.5px;
}

li.logo a:hover {
  font-weight: 400;
}
